body {
    margin: 0;
    background-color: #EECFFF;
  }
  
  #start-btn {
    background-color: #4A0AA1;
    color: #FFFFFF;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 60px; 
    
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #splash-screen{
    background-color:#fbfafc;
    width:600px;
    height:700px;
    margin: 0 auto;
    margin-top: 50px;
  }
  #splash-screen > img{
    margin-top: -200px;
  }


  #muquis-selector {

    margin-top: 50px;

  }
  
  #game-box {
    width:1400px;
    height: 750px;

  
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */
  
    background-image: url("./imagenes/mundo.png");
    background-position: center;
    background-size: cover;
  
  }
  
  #game-box * {
    pointer-events: none; /* previene que todos los elementos del game-box sean arrastrados al clickar sobre ellos */
  }
  
  #game-screen, #game-over-screen, #ganaste-screen {
    display: none;
  }

  

  #reiniciar-btn {
    background-color: #4A0AA1;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }

  #nuevo-mundo-btn {
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }

  #muqui3:hover,#muqui2:hover, #muqui1:hover, .muqui-seleccionado {
    border: 4px solid purple ;
    border-radius: 100px;
  }